.App {
  text-align: center;
  color: #fff;
}

.App-header {
  background-color: #444;
  width: 100%;
  color: #ddd;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 0;
}

.stock-entity-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 400px;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.stock-price,
.stock-symbol {
  font-weight: 800;
  margin: 10px 0;
}

.shares-owned {
  margin: 10px auto;
  line-height: 1.2;
}

.portfolio-value {
  line-height: 1.2;
  margin: 10px auto;
}

.forms-container {
  padding: 20px;
  border: 2px solid #222;
  border-radius: 16px;
  box-sizing: border-box;
  width: 95%;
  margin: 20px auto;
}

.symbols-form-input,
.shares-form-input {
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;
  outline: none;
  width: 200px;
  box-sizing: border-box;
}

.best-matches-list {
  background-color: #555;
  border-radius: 8px;
  width: 200px;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 0;
}

.stock-symbol-match {
  padding: 2px 5px;
  margin: 0;
  display: flex;
}

.match-name {
  overflow: hidden;
  height: 20px;
}

.news-container {
  max-width: 400px;
  margin: 0 auto;
}

.article {
  background: linear-gradient( #444, #222);
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  text-align: left;
  text-decoration: none;
  color: #eee;
}

.article-image {
  height: 300px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.article-text-container {
  padding: 10px;
}

.article-text {
  padding: 0;
  margin: 5px auto;
}

.article-title {
  font-size: 16px;
}

.article-publication {
  padding-left: 8px;
  color: #aaa;
  font-weight: 700;
}

.article-description {
  line-height: 1.3;
}